# Python 
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
 .venv/

# Streamlit
.streamlit/

# Data files ( VERY IMPORTANT)
*.pkl
*.csv 
*.db
*.sqlite3

# Models / datasets
data/
Models/*.db

# OS files
.DS_Store
Thums.db

# IDE 
.vscode/
.idea/